body 
{
	margin-left: 0px;
	margin-top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666	
}
a:link {
	text-decoration: none;
	color: #999999;
}
a:visited {
	text-decoration: none;
	color: #999999;
}

a:active {
	text-decoration: none;
}


ul li {
	list-style-type: none;
}
ul a,
ul:hover a {
	-webkit-transition-property:color;
	-webkit-transition-timing-function: cubic-bezier(1,0,1,0);
	-moz-transition-property:color;
	-moz-transition-timing-function: cubic-bezier(1,0,1,0);
	transition-property:color;
	transition-timing-function: cubic-bezier(1,0,1,0);
}
ul a{-webkit-transition: all 1s ease-in-out;-moz-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
ul:hover li:nth-child(1) a {color:#DB030D;-webkit-transition-duration: 1s; -moz-transition-duration: 1s;transition-duration: 1s;}
ul:hover li:nth-child(2) a {color:#DB0641;-webkit-transition-duration: .9s; -moz-transition-duration: .9s;transition-duration: .9s;}
ul:hover li:nth-child(3) a {color:#D90E8A;-webkit-transition-duration: .8s; -moz-transition-duration: .8s;transition-duration: .8s;}
ul:hover li:nth-child(4) a {color:#C71CB5;-webkit-transition-duration: .7s; -moz-transition-duration: .7s;transition-duration: .7s;}
ul:hover li:nth-child(5) a {color:#A133C6;-webkit-transition-duration: .6s; -moz-transition-duration: .6s;transition-duration: .6s;}
ul:hover li:nth-child(6) a {color:#5E5AC7;-webkit-transition-duration: .5s; -moz-transition-duration: .5s;transition-duration: .5s;}
ul:hover li:nth-child(7) a {color:#1386C7;-webkit-transition-duration: .4s; -moz-transition-duration: .4s;transition-duration: .4s;}
ul:hover li:nth-child(8) a {color:#0F8CB7;-webkit-transition-duration: .3s; -moz-transition-duration: .3s;transition-duration: .3s;}
ul:hover li:nth-child(9) a {color:#27829D;-webkit-transition-duration: .2s; -moz-transition-duration: .2s;transition-duration: .2s;}
ul:hover li:nth-child(10) a {color:#4A737F;-webkit-transition-duration: .1s; -moz-transition-duration: .1s;transition-duration: .1s;}

.projectPicture
{
	Z-INDEX: 2;
	POSITION: absolute;
	LEFT: 46px;
	TOP: 135px;
	opacity: 0.0;
	moz-opacity: 0.0;
	visibility: visible;
}

.backpicture
{
	Z-INDEX: 1;
	POSITION: absolute;
	LEFT: 0px;
	TOP: 0px;
	opacity: 0.0;
	moz-opacity: 0.0;
	visibility: visible;
}


#ContentLayer
{
	position:absolute; 
	left:45px; 
	top:45px; 
	width:500px; 
	height:530px; 
	z-index:1;
}

.head
{
	color:#000000; 
	font-size:13px; 
	font-weight:bold
}

.copyright 
{
	font-size: 11px;
	color: #999999;
}
.submenu 
{
	font-size: 11px;
	position:absolute; 
	left:60px; 	
	width: 140px;
	z-index:0;  
	visibility: hidden;	
}

.menu
{
	font-size: 16px;
	position:absolute;
	left:200px; 
	width:100px; 
	height:20px; 
	z-index:1; 	
	visibility: visible;	
}


